.logo-psp-child {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0%;
    right: 0%;
    bottom: 0%;
    left: 0%;
    border-radius: 50%;
    background-color: #fa4d23;
}
.logo-icon {
    position: absolute;
    height: 38.17%;
    width: 76%;
    top: 33.93%;
    right: 9.71%;
    bottom: 27.9%;
    left: 14.29%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: cover;
}
.logo-psp {
    width: 60px;
    position: relative;
    height: 60px;
}
.b {
    position: relative;
    line-height: 110%;
}
.logo-60x60 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 12px;
}
.title-text {
    position: relative;
    line-height: 24px;
    font-weight: 600;
}
.button {
    border-radius: 24px;
    background-color: #3f34f1;
    height: 60px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 16px 36px;
    box-sizing: border-box;
    text-align: center;
    color: #fff;
}
.logo-60x60-parent {
    position: absolute;
    top: 60px;
    left: 80px;
    width: 1280px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 0px;
}
.b1 {
    align-self: stretch;
    position: relative;
    line-height: 72px;
}
.p {
    margin: 0;
}
.div {
    width: 1057px;
    position: relative;
    font-size: 40px;
    line-height: 48px;
    font-weight: 500;
    display: inline-block;
}
.parent {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 28px;
}
.button1 {
    width: 417px;
    border-radius: 24px;
    background-color: #3f34f1;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 28px 36px;
    box-sizing: border-box;
    text-align: center;
    font-size: 32px;
    color: #fff;
}
.frame-group {
    width: 1280px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 56px;
}
.div1 {
    align-self: stretch;
    position: relative;
    line-height: 52px;
    font-weight: 600;
}
.one-icon {
    width: 60px;
    position: relative;
    border-radius: 5.56px;
    height: 60px;
    overflow: hidden;
    flex-shrink: 0;
}
.div2 {
    position: relative;
    line-height: 52px;
}
.one-parent {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
}
.two-parent {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
}
.frame-parent2 {
    width: 440px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 28px;
    text-align: left;
    font-size: 32px;
}
.group {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 56px;
}
.button2 {
    align-self: stretch;
    border-radius: 24px;
    background-color: #3f34f1;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 28px 36px;
    font-size: 32px;
    color: #fff;
}
.frame-parent1 {
    flex: 1;
    border-radius: 40px;
    background-color: #e4e8f1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 60px 388px;
    gap: 124px;
    z-index: 0;
}
.logo-psp-icon {
    width: 218px;
    margin: 0 !important;
    position: absolute;
    top: -47px;
    left: 1025px;
    height: 218px;
    object-fit: contain;
    opacity: 0.9;
    z-index: 1;
}
.logo-psp-icon1 {
    width: 208px;
    margin: 0 !important;
    position: absolute;
    top: 368px;
    left: -20px;
    height: 208px;
    object-fit: contain;
    opacity: 0.9;
    z-index: 2;
}
.frame-div {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    z-index: 0;
}
.div5 {
    width: 440px;
    position: absolute;
    margin: 0 !important;
    top: 420px;
    left: 420px;
    font-size: 14px;
    line-height: 20px;
    text-align: left;
    display: inline-block;
    z-index: 1;
}
.frame-container {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    gap: 16px;
    text-align: center;
    font-size: 48px;
}
.logo-icon1 {
    position: absolute;
    height: 38.21%;
    width: 76.07%;
    top: 33.93%;
    right: 9.64%;
    bottom: 27.86%;
    left: 14.29%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: cover;
}
.logo-psp1 {
    width: 56px;
    position: relative;
    height: 56px;
}
.b2 {
    position: relative;
    line-height: 32px;
}
.logo-60x601 {
    height: 58px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 12px;
}
.psp {
    white-space: pre-wrap;
}
.span {
    color: #1e63ee;
}
.psp-container {
    align-self: stretch;
    position: relative;
    line-height: 24px;
}
.psp-parent {
    width: 588px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 12px;
    font-size: 16px;
    color: #000;
}
.logo-60x60-group {
    width: 665px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 20px;
}
.qr- {
    width: 335px;
    position: relative;
    line-height: 32px;
    display: inline-block;
    flex-shrink: 0;
}
.image-7-icon {
    width: 186px;
    position: relative;
    height: 186px;
    object-fit: cover;
}
.qr-parent {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    gap: 20px;
}
.frame-parent3 {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    gap: 0px;
    font-size: 24px;
    color: #2f2f2f;
}
.frame-parent {
    position: absolute;
    top: 240px;
    left: 80px;
    width: 1280px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 180px;
    font-size: 72px;
    color: #000;
}
.landing-page {
    width: 100%;
    position: relative;
    background-color: #fff;
    height: 1920px;
    overflow: hidden;
    text-align: left;
    font-size: 24px;
    color: #2f2f2f;
    font-family: Manrope;
}

